*{
    padding: 0;
    margin: 0;
}

.container_listas {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 160px;
    flex-wrap: wrap;
    width: 350px;
    min-height: 70vh;
    border-radius: 20px;
    padding: 2px 5px;
    background-color: rgb(210, 105, 30, 0.9);
    border: 1px solid black;
}

.container_listas h1{
    color: aliceblue;
    font-size: 30px;
    border: 3px solid rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 3px 5px 3px 5px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.container_li{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    padding: 5px;
    gap: 10px;
    max-width: 330px;
    list-style: none;
    background-color: rgba(0, 0, 0, 0.7);
}

.idems > li{ 
   color: aliceblue;
}

.image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 290px;
    max-width: fit-content;
}

.image > img {
   width: 100%;
   max-width: fit-content;
   border-radius: 60px; 
}

@media (max-widht: 500px) {
   .container_listas {
    width: 30%;
   } 
}