.container_fav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: 1px 4px 1px 4px;
    padding: 4px;
    gap: 10px;
    margin-top: 120px;
    border-radius: 20px;
}