.card_container{
    display: flex;
    max-width: 230px;
    flex-wrap: wrap;
    flex-direction: column;
    position: relative;
    justify-content:flex-start;
    background-color: rgb(210, 105, 30);
    width: fit-content;
    margin: 4px 4px;
    padding: 4px;
    gap: 3px;
    border-radius: 20px;
    background-image: linear-gradient(163deg, #00ff75, 0%, #fff200 100%);
    transition: all .5s;
}

.card2_container{
    width: fit-content;
    background-color: #a97700;
    /* transition: all .2s; */
    border-radius: 20px;   
}

.card2_container:hover{
    transform: scale(0.96);
    border-radius: 20px;
}

.card_container{
    box-shadow: 1px 2px 30px 1px rgba(0, 255, 117, 0.30);
}

.card_container .butonClose{
    position: absolute;
    padding: 3px 3px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    right: -1px;
    top: -2px;
    border-radius: 9px;
    background-color: rgb(255, 0, 0);
    font-size: 1rem;
    border: 2px solid black;
    justify-content: end;
    transition: all 0.3s ease-in-out;
}

.card_container .butonClose:hover{
    scale: 1.15;
    box-shadow: -5px 5px 15px 1px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: -5px 5px 15px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: -5px 5px 15px 1px rgba(0,0,0,0.75);
}

.card_container h2{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: italic;
}

.card_container .H2_1{
   text-align: center;
   padding-left: 20px;
   color: black;
   font-size: 18px;
   border: 4px solid black;
   border-radius: 10px;
}

.card_container .H2_2{
    text-align:initial;
    font-size: 18px;
    width: 97%;
    text-align: center;
    margin-bottom: 2px;
    border-radius: 12px;
    border: 4px solid rgba(0, 0, 0, 0.786);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
    font-style: oblique;
    color: burlywood;
}

.card_container .H2_3{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    width: 96%;
    left: 140px;
    text-align: center;
    bottom: 10px;
    margin: 1px;
    border: 4px solid black;
    color: rgb(246, 221, 188, 0.7);
    border-radius: 15px;
}

.card_container .img_card{
    width:95%;
    margin: 1px;
    margin-top: 3px;
    margin-left: 2px;
    border: 4px solid black;
    border-radius: 10px;
    /* border: 4px solid black; */
    transition: all 0.3s ease-in-out;
}
.img_card:hover{
    /* transform: translateY(-25px); */
    box-shadow: 0 0 9.5px 3.5px #ffae00;
    scale: 1.03;
}

.contador_container{     
  position: absolute;
  width: 100%;
  left: 3px;
  top: -2px;
} 

.span_Container > span{
    position: absolute;
    font-size:20px;
    left: 33px;
    top: 8px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}