.cards_container{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    min-height: 100vh;
    padding: 40px;
}

@media (max-width: 655px) {
  .cards_container{
    justify-content: center;
    padding: 75px;
    align-items: center;
  }  
}